html,
body {
  margin: 0px;
}

.formsubmit.zcwf_button {
  color: white !important;
  background: transparent linear-gradient(0deg, #0279ff 0%, #00a3f3 100%);
}

#crmWebToEntityForm.zcwf_lblTopBottom {
  width: 100%;
  padding: 25px;
  margin: 0 auto;
  box-sizing: border-box;
}

#crmWebToEntityForm.zcwf_lblTopBottom * {
  box-sizing: border-box;
}

#crmWebToEntityForm {
  text-align: left;
}

#crmWebToEntityForm * {
  direction: ltr;
}

.zcwf_lblTopBottom .zcwf_title {
  word-wrap: break-word;
  padding: 0px 6px 10px;
  font-weight: bold;
}

.zcwf_lblTopBottom.cpT_primaryBtn:hover {
  background: linear-gradient(#02acff 0, #006be4 100%) no-repeat padding-box !important;
  box-shadow: 0 -2px 0 0 #0159b9 inset !important;
  border: 0 !important;
  color: #fff !important;
  outline: 0 !important;
}

.zcwf_lblTopBottom .zcwf_col_fld input[type="text"],
input[type="password"],
.zcwf_lblTopBottom .zcwf_col_fld textarea {
  width: 60%;
  border: 1px solid #c0c6cc !important;
  resize: vertical;
  border-radius: 2px;
  float: left;
}

.zcwf_lblTopBottom .zcwf_col_lab {
  width: 30%;
  word-break: break-word;
  padding: 0px 6px 0px;
  margin-right: 10px;
  margin-top: 5px;
  padding-bottom: 4px;
}

.zcwf_lblTopBottom .zcwf_col_fld {
  width: 60%;
  padding: 0px 6px 0px;
  position: relative;
  margin-top: 5px;
}

.zcwf_lblTopBottom .zcwf_privacy {
  padding: 6px;
}

.zcwf_lblTopBottom .wfrm_fld_dpNn {
  display: none;
}

.dIB {
  display: inline-block;
}

.zcwf_lblTopBottom .zcwf_col_fld_slt {
  width: 60%;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  font-size: 12px;
  float: left;
  resize: vertical;
  padding: 2px 5px;
}

.zcwf_lblTopBottom .zcwf_row:after,
.zcwf_lblTopBottom .zcwf_col_fld:after {
  content: "";
  display: table;
  clear: both;
}

.zcwf_lblTopBottom .zcwf_col_help {
  float: left;
  margin-left: 7px;
  font-size: 12px;
  max-width: 35%;
  word-break: break-word;
}

.zcwf_lblTopBottom .zcwf_help_icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #fff;
  border: 1px solid #c0c6cc;
  color: #c1c1c1;
  text-align: center;
  font-size: 11px;
  line-height: 16px;
  font-weight: bold;
  border-radius: 50%;
}

.zcwf_lblTopBottom .zcwf_row {
  margin: 15px 0px;
}

.zcwf_lblTopBottom .formsubmit {
  margin-right: 5px;
  cursor: pointer;
  color: #313949;
  font-size: 12px;
}

.zcwf_lblTopBottom .zcwf_privacy_txt {
  width: 90%;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-family: Arial;
  display: inline-block;
  vertical-align: top;
  color: #313949;
  padding-top: 2px;
  margin-left: 6px;
}

.zcwf_lblTopBottom .zcwf_button {
  font-size: 12px;
  color: #313949;
  border: 1px solid #c0c6cc;
  padding: 3px 9px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zcwf_lblTopBottom .zcwf_tooltip_over {
  position: relative;
}

.zcwf_lblTopBottom .zcwf_tooltip_ctn {
  position: absolute;
  background: #dedede;
  padding: 3px 6px;
  top: 3px;
  border-radius: 4px;
  word-break: break-word;
  min-width: 100px;
  max-width: 150px;
  color: #313949;
  z-index: 100;
}

.zcwf_lblTopBottom .zcwf_ckbox {
  float: left;
}

.zcwf_lblTopBottom .zcwf_file {
  width: 35%;
  box-sizing: border-box;
  float: left;
}

.cBoth:after {
  content: "";
  display: block;
  clear: both;
}

@media all {
  .zcwf_lblTopBottom .zcwf_col_lab,
  .zcwf_lblTopBottom .zcwf_col_fld {
    width: auto;
    float: none !important;
  }

  .zcwf_lblTopBottom .zcwf_col_help {
    width: 40%;
  }
}
